In [10]:
if 'Date' in df.columns:
    
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)   
    df_resempled = df.resample('ME').mean()
                 
else:
        
        print("Column'Date' not found. Check column names:", df.columns)

Column'Date' not found. Check column names: Index(['MonthStart', 'Sales', 'Revenue', 'Expenses'], dtype='str')

In [1]:
import pandas as pd

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03'],
                   'Sales': [100, 120, 130]})

df['Sales'].isnull().sum()

np.int64(0)

In [4]:
import pandas as pd
import numpy as np
data = {
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='D'),
    'Passengers': [100, 120, np.nan, 140, 135, np.nan, 150, 160, 170, np.nan]
}

df = pd.DataFrame(data)
print("Original Data:\n", df)
df['Passengers'] = df['Passengers'].fillna(0)
df['Passengers'] = df['Passengers'].astype(int)

print("\nCorrected Data:\n", df)

Original Data:
         Date  Passengers
0 2023-01-01       100.0
1 2023-01-02       120.0
2 2023-01-03         NaN
3 2023-01-04       140.0
4 2023-01-05       135.0
5 2023-01-06         NaN
6 2023-01-07       150.0
7 2023-01-08       160.0
8 2023-01-09       170.0
9 2023-01-10         NaN

Corrected Data:
         Date  Passengers
0 2023-01-01         100
1 2023-01-02         120
2 2023-01-03           0
3 2023-01-04         140
4 2023-01-05         135
5 2023-01-06           0
6 2023-01-07         150
7 2023-01-08         160
8 2023-01-09         170
9 2023-01-10           0

In [5]:
print(df.columns)  # Check column names
df['Date'] = pd.to_datetime(df['Date'])  # Use correct case

Index(['Date', 'Passengers'], dtype='str')

In [ ]:
from statsmodels.tsa.arima.model import ARIMA

In [6]:
import pandas as pd
import numpy as np

# Generate monthly start dates for one year
dates = pd.date_range(start='2020-01-01', periods=12, freq='MS')

# Create random data for the time series
data = {
    'MonthStart': dates,
    'Sales': np.random.randint(100, 500, size=12),
    'Revenue': np.random.randint(1000, 5000, size=12),
    'Expenses': np.random.randint(500, 2000, size=12)
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

   MonthStart  Sales  Revenue  Expenses
0  2020-01-01    236     2435       713
1  2020-02-01    192     3304      1764
2  2020-03-01    216     3038       986
3  2020-04-01    435     3225      1459
4  2020-05-01    301     2897      1486
5  2020-06-01    195     3740      1005
6  2020-07-01    320     3809       621
7  2020-08-01    219     2222      1516
8  2020-09-01    207     3076       987
9  2020-10-01    231     4286      1914
10 2020-11-01    357     3300      1196
11 2020-12-01    128     4109      1757